<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="RestaurantConnString" connectionString="metadata=res://*/Models.RestaurantDatabase.csdl|res://*/Models.RestaurantDatabase.ssdl|res://*/Models.RestaurantDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Restaurant;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="w" value="10"/> <!--disscount-->
    <add key="a" value="200"/> <!--minim pentru livrare gratis-->
    <add key="b" value="17"/> <!--cost livrare-->
    <add key="y" value="200"/> <!--minim pentru discount la comanda-->
    <add key="z" value="2"/>  <!--minim pentru discount pe timp-->
    <add key="t1" value="10"/> <!--capatul inferior al intervalului orar HAPPY HOUR-->
    <add key="t2" value="20"/> <!--capatul superior al intervalului orar HAPPY HOUR-->
    <add key="x" value="10"/> <!--discount meniuri-->
    <add key="c" value="10000"/> <!--minim epuizare-->
  </appSettings>
</configuration>